---
import "@/styles/global.css";

import { Font } from "astro:assets";

import { pathFromBase } from "@/lib/urls.ts";

interface Props {
    title?: string;
    description?: string;
    imageUrl?: string;
    openGraphType?: "website" | "article";
    section?: string;
    tags?: string[];
}

const siteTitle = "Luminous Wiki";

const {
    title = siteTitle,
    description,
    imageUrl,
    openGraphType = "website",
    section,
    tags = [],
} = Astro.props;

const pageTitle = title === siteTitle ? siteTitle : `${title} | ${siteTitle}`;
const canonicalUrl = Astro.site
    ? new URL(Astro.url.pathname, Astro.site).href
    : Astro.url.href;
const baseUrl = new URL(pathFromBase(""), Astro.site ?? Astro.url);

const openGraphImageUrl = imageUrl
    ? new URL(imageUrl.replace(/^\/+/, ""), baseUrl).href
    : undefined;
const faviconUrl = pathFromBase("favicon.ico");
const svgFaviconUrl = pathFromBase("favicon.svg");
---

<html
    lang="en"
    class="w-full bg-background font-sans text-foreground antialiased"
>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={svgFaviconUrl} />
        <link rel="icon" href={faviconUrl} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="canonical" href={canonicalUrl} />
        {description && <meta name="description" content={description} />}

        <meta property="og:site_name" content={siteTitle} />
        <meta property="og:title" content={title} />
        <meta property="og:type" content={openGraphType} />
        <meta property="og:url" content={canonicalUrl} />
        {
            description && (
                <meta property="og:description" content={description} />
            )
        }
        {
            openGraphImageUrl && (
                <meta property="og:image" content={openGraphImageUrl} />
            )
        }
        {
            openGraphType === "article" && section && (
                <meta property="article:section" content={section} />
            )
        }
        {
            openGraphType === "article" &&
                tags.map((tag) => <meta property="article:tag" content={tag} />)
        }

        <Font cssVariable="--font-sans" preload />
        <title>{pageTitle}</title>
    </head>
    <body class="flex min-h-full flex-col font-sans">
        <slot />
    </body>
</html>
