---
import type { CollectionEntry } from "astro:content";
import { Image } from "@unpic/astro";
import { getEntry } from "astro:content";

import cn from "@/lib/cn.ts";
import { pathFromBase } from "@/lib/urls.ts";

interface Props {
    id: CollectionEntry<"docs">["id"];
    class?: string;
}

const { id, class: className } = Astro.props;
const doc = await getEntry("docs", id);

if (!doc) {
    throw new Error(`DocCard could not find a docs entry with id "${id}"`);
}
---

<a
    class:list={cn(
        "relative flex h-24 flex-col justify-end overflow-hidden rounded-xl p-2 transition duration-150 hover:scale-105",
        className,
    )}
    href={pathFromBase(`d/${doc.id}`)}
>
    {
        doc.data.coverImageUrl && (
            <>
                <Image
                    src={doc.data.coverImageUrl}
                    alt=""
                    class="absolute inset-0 size-full object-cover"
                    layout="fullWidth"
                    placeholder="blurhash"
                />
                <div class="absolute inset-0 bg-gradient-to-t from-black/80 to-black/10" />
            </>
        )
    }
    <p class="relative text-sm text-muted">{doc.data.type}</p>
    <p class="relative font-bold">{doc.data.title}</p>
</a>
